h1 {
  text-align: center;
  font-size: 60px;
  color: grey;
}

#role {
  text-align: center;
  font-size: 20px;
  color: green;
}

#centerImage {
  text-align: center;
}

#divAbout {
  background-color: whitesmoke;
  margin-top: -50px;
}

#myName {
  border-bottom: 2px solid red;
  background-color: lightgray;
  width: 100px;
  text-align: center;
  margin: auto;
  padding: auto;
}