header{
  background-color: #dddddd;
  position: fixed;
  width: 99.2%;
  margin-top: -20px;
}

b {
  font-family: 'Brush Script MT';
  font-size: 25px;
}

i {
  font-size: 10px;
}

nav {
  float: right;
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  b {
    font-size: 15px;
  }
  
  i {
    font-size: 5px;
  }

  nav {
    font-size: 10px;
  }
  .homeLink {
    padding: 3px;
  }
  
}

