h1 {
  text-align: center;
  font-size: 60px;
  color: grey;
}

#projects {
  text-align: center;
  font-size: 30px;
  color: grey;
}

hr {
  width: 50%;
}

#divProjects {
  background-color: whitesmoke;
  margin-top: -40px;
}

li {
  margin-top: 30px;
}